a {
    text-decoration: none;
    color: white;
}

#link-list {
    text-align: center;
    list-style: none;
}

#github, #linkedin {
    padding: 10px;
    font-size: 50px;
}

#github:hover, #linkedin:hover {
    color: #fef102;
}

body {
    background-color: rgb(240, 240, 240);

}

#links {
    position: absolute;
    right: 50px;
}

#github, #linkedin {
    color: white;
}

#home-page, #permanent-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fake-canvas, #fake-canvas-2 {
    width: 900px;
    height: 600px;
    border: 10px;
    background-color: #0580ff;
    border-style: inset;
    border-color: #0571ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#instruction-page {
    display: none;
}

#instructional-elements, #leave-instructions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



#key-legend {
    background-color: #f72934;
    border: 5px;
    border-radius: 5%;
    border-style: outset;
    border-color: #f01924;
}

#key-legend li {
    font-family: 'Carter One', cursive;
    color: white;
    display: block;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
}

#arrows {
    height: auto;
    max-width: 30%;
}

#space-bar {
    height: auto;
    max-width: 20%;
}

h1 {
    font-size: 100px;
    color: #fef102;
    background-color: #f01924;
    font-family: 'Carter One', cursive;
    border: 5px;
    border-radius: 50%;
    border-style: outset;
    border-color: #f72934;
    padding: 5%;
}

#game-over {
    display: none;
}

#game-over-title, #final-score, #restart-after-game {
    font-family: 'Carter One', cursive;
    color: white;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

#game-over-title {
    font-size: 40px;
}
#final-score {
    font-size: 25px;
}
#restart-after-game {
    font-size: 30px;
}

#restart-after-game:hover, #pause:hover {
    cursor: pointer;
    color: #fef102;
}

#pause-menu {
    display: none;
}



#paused-options {
    text-align: center;
    list-style: none;
}

#paused-options li {
    font-family: 'Carter One', cursive;
    color: white;
    display: block;
    font-size: 40px;
    padding: 10px;
    padding-right: 60px;
}

#paused-options li:hover {
    color: #fef102;
    cursor: pointer;
}



#play, #instructions, #play-after-instructions, #home-after-instructions {
    background-color: #0571ff;
    color: white;
    font-size: 50px;
    font-family: 'Carter One', cursive;
    color: white;
    border: 5px;
    border-radius: 10%;
    border-color: #0571ff;
    border-style: outset;
    padding: 10px;
}

#instructions {
    font-size: 30px;
}


#play:hover, #instructions:hover, #play-after-instructions:hover, #home-after-instructions:hover {
    color: #fef102;
    cursor: pointer;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#permanent-view {
    width: 920px;
    height: 620px; 
    position: relative;
}

#game-view {
    display: none;
}

canvas {
    border: 10px;
    border-style: inset;
    border-color: #0571ff;
}

#score-div, #pause {
    position: absolute;
    left: 50px;
}

#score-div {
    top: 0px;
}

#pause {
    bottom: 0px;
}

#pause p {
    font-size: 50px;
}

#score, #pause {
    font-family: 'Carter One', cursive;
    color: white;
    font-size: 50px;
}
