canvas {
    border: 5px;
    border-style: solid;
    border-color: orangered;
}

// h1 {
//     background-color: orangered;
//     color: white;
//     border: 20px;
//     border-style: solid;
//     border-color: orangered;
// }