body {
    background-color: rgb(240, 240, 240);
}

#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fake-canvas {
    width: 900px;
    height: 600px;
    border: 10px;
    background-color: #0580ff;
    border-style: inset;
    border-color: #0571ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100px;
    color: #fef102;
    background-color: #f01924;
    font-family: 'Carter One', cursive;
    border: 5px;
    border-radius: 50%;
    border-style: outset;
    border-color: #f72934;
    padding: 5%;
}

#game-over {
    display: none;
}

#game-over-title, #final-score, #restart-after-game {
    font-family: 'Carter One', cursive;
    color: white;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

#game-over-title {
    font-size: 40px;
}
#final-score {
    font-size: 25px;
}
#restart-after-game {
    font-size: 30px;
}



#restart-after-game:hover {
    cursor: pointer;
    color: #fef102;
}

#pause-menu {
    display: none;
}
#pause {
    position: absolute;
    left: 20%;
    top: 60%;
    font-size: 50px;
    font-family: 'Carter One', cursive;
    color: white;
    
}
#pause:hover {
    color: #fef102;
    cursor: pointer;
}

ul {
    text-align: center;
    list-style: none;
}

li {
    font-family: 'Carter One', cursive;
    color: white;
    display: block;
    font-size: 40px;
    padding: 10px;
    padding-right: 60px;
}

li:hover {
    color: #fef102;
    cursor: pointer;
}



#play {
    background-color: #0571ff;
    color: white;

}

#game {
    display: none;
}

canvas {
    border: 10px;
    border-style: inset;
    border-color: #0571ff;
}

#score {
    position: absolute;
    left: 20%;
    font-size: 50px;
    font-family: 'Carter One', cursive;
    color: white;
}
