body {
    background-color: rgb(255, 255, 255);
}

#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fake-canvas {
    width: 900px;
    height: 600px;
    border: 10px;
    background-color: #0580ff;
    border-style: inset;
    border-color: #0571ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100px;
    color: #fef102;
    background-color: #f01924;
    font-family: 'Carter One', cursive;
    border: 5px;
    border-radius: 50%;
    border-style: outset;
    border-color: #f72934;
    padding: 5%;
}

#pause-menu {
    display: none;
}
#pause {
    position: absolute;
    left: 20%;
    top: 60%;
    font-size: 50px;
    font-family: 'Carter One', cursive;
    color: white;
    
}
#pause:hover {
    color: #fef102;
    cursor: pointer;
}

ul {
    text-align: center;
    list-style: none;
}

li {
    font-family: 'Carter One', cursive;
    color: white;
    display: block;
    font-size: 40px;
    padding: 10px;
    padding-right: 60px;
}

li:hover {
    color: #fef102;
    cursor: pointer;
}



#play {
    background-color: #0571ff;
    color: white;

}

#game {
    display: none;
}

canvas {
    border: 10px;
    border-style: inset;
    border-color: #0571ff;
}

#score {
    position: absolute;
    left: 20%;
    font-size: 50px;
    font-family: 'Carter One', cursive;
    color: white;
    border-color: #fef102;
    border-radius: 10%;
    border: 10px;
}
